<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dt.myapplication">

  <application
      android:allowBackup="true"
      android:icon="@drawable/notepad"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".main.activity.MainActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <service android:name=".service.DatabaseIntentService"/>
    <provider
        android:name=".data.provider.NotesProvider"
        android:authorities="com.dt.myapplication.data.provider.NotesProvider"
        android:exported="false"
        android:multiprocess="true">
    </provider>
    <provider
        android:name=".data.provider.TodosProvider"
        android:authorities="com.dt.myapplication.data.provider.TodosProvider"
        android:exported="false"
        android:multiprocess="true">
    </provider>
  </application>

</manifest>